<app-navbar></app-navbar>
<div class="body">
<div class="iten">
    <form>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputEmail4">E-mail</label>
            <input type="email" class="form-control" placeholder="exemplo@gmail.com" id="inputEmail4">
          </div>
          <div class="form-group col-md-6">
            <label for="inputPassword4">Senha</label>
            <input type="password" class="form-control" placeholder="Mínimo 8 caracteres" id="inputPassword4">
          </div>
        </div>
        <div class="form-group">
          <label for="inputAddress">Endereço</label>
          <input type="text" class="form-control" id="inputAddress" placeholder="Rua principal  1234">
        </div>
        <div class="form-group">
          <label for="inputAddress2">Endereço 2</label>
          <input type="text" class="form-control" id="inputAddress2" placeholder="Apartamento, estúdio ou andar">
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputCity">Cidade</label>
            <input type="text" class="form-control" id="inputCity">
          </div>
          <div class="form-group col-md-4">
            <label for="inputState">Gênero</label>
            <select id="inputState" class="form-control">
              <option selected>Masculino</option>
              <option>Feminino</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <label for="inputZip">N°</label>
            <input type="text" class="form-control" id="inputZip">
          </div>
        </div>
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
              Aceito termnos de uso e política de privacidade
            </label>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
      </form>
    </div>
</div>