.fundo{
    width: 800px;
}
.body{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}
h3, p{
    font-size: 15px;
}
.uk-overlay{
    padding: 20px;
}
p{
    display: flex;
    text-align: justify;
}
@media (max-width: 880px){
    h3, p{
        font-size: 10px;
    }
}
@media (max-width: 680px){
    h3, p{
        font-size: 5px;
    }
    .body{  
        padding: 20px;
    }
}

.carousel{
    margin-top: 50px;
}