<app-navbar></app-navbar>
<div class="body">
<div class="fundo">
<div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow="animation: fade">

    <ul class="uk-slideshow-items">
        <li class="ativo">
            <img src="../assets/info1.jpeg" alt="1642 – Blaise Pascal" uk-cover>
            <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
                <h3 class="uk-margin-remove">1642 – Blaise Pascal</h3>
                <p class="uk-margin-remove">Blaise sentia dificuldade em calcular os dados e recibos em seu ábaco, para que as contas fossem executadas de forma mais fluída e rápida o mesmo desenvolve Pascalina (a primeira calculadora da história) ela realizava contas de adição e subtração. Ela usava de meios mecânicos para registrar os comandos e devolver resultados.
                    Os números da parte de cima representam as contas de subtração e os de baixo as contas de adição. Seu processo era baseado na de arrastar do número desejado até o início, afim de aumentar ou diminuir o valor mostrado no “visor”. Foram vendidas um total de 50 Pascalinas, isso por conta de seu alto preço.</p>
            </div>
        </li>
        <li class="ativo">
            <img src="assets/info2.webp" alt="1833 – Charles Babbage" uk-cover>
            <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
                <h3 class="uk-margin-remove">1833 – Charles Babbage</h3>
                <p class="uk-margin-remove">Seu papel foi fundamental para a compreensão da programação de máquinas a partir de comandos gerados com antecedência para que funcionassem de maneira autônoma (sem que fosse preciso a força humana para gerar o resultado final apenas a informação inicial). Na época em que viveu foi responsável pela concepção da Máquina Diferencial (1822, usada para a resolução de equações contendo polinômios. Ex: 2x+6 ou 5x²-4x+4) e a Máquina Analítica (Essa que infelizmente não teve sua criação na época por falta de recursos para tal e por conflitos com seu engenheiro-chefe). A ele é dado o título de Pai da Computação Analítica.</p>
            </div>
        </li>
        <li class="ativo">
            <img src="assets/info3.png" alt="1833 – Ada Lovelace " uk-cover>
            <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
                <h3 class="uk-margin-remove">1833 – Ada Lovelace  </h3>
                <p class="uk-margin-remove">Augusta Ada Byron King, a condessa de Lovelace, foi a primeira Programadora da História. Na época, Ada era responsável pela adaptação linguística de estudos realizados por Luigi Menabrea, um matemático italiano e sobre as ferramentas analíticas usadas por Charles Babbage, matemático inglês. Após serem apresentados em 1833, Charles e Ada passaram a compartilhar seus feitos a fim de terem sucesso no avanço tecnológico. 
Com o atraso na criação da máquina, sua programação foi executada apenas um século depois. Embora o tempo tenha passado, a informação se manteve correta para o funcionamento da máquina, sendo assim uma programação bem sucedida.</p>
            </div>
        </li>
    </ul>
  
    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href uk-slidenav-previous uk-slideshow-item="previous"></a>
    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href uk-slidenav-next uk-slideshow-item="next"></a>
  
  </div>


<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../assets/info1.jpeg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/info2.webp" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/info3.png" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden"></span>
    </button>
  </div>




</div>
</div>

